html
	head
		title="CCs Journal"
		link(rel='stylesheet', href="/static/css/main.css")
		link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Lato:400,700", type="text/css")
	body
		nav.header
			h1  CC's Journal


		div(id="post")
			p(id=Entry) Journal Entry


			form(method="POST" action="")
				div.jEntry
					label(for="entry") Entry:
					input#entry.form-control(type='text', placeholder='What are you feeling?')
					input.hLevel(type='number', name='hLevel', min='-10', max='10', placeholder="Happiness Level")
					button.btn.btn-primary(type='submit') Submit


		div.allFeels
				p Feels Container


	div(id="app")


		script(src="/static/bundle.js", type="text/javascript")