html
	head
		title="CCs Journal"
		link(rel='stylesheet', href="/static/css/main.css")
	body

		h1  CCs Journal


		div(id="post")
			p(id=Entry) Journal Entry


			form(method="POST" action="")
				div.jEntry
					label(for="entry") Entry:
					input#entry.form-control(type='text', placeholder='What are you feeling?')
					button.btn.btn-primary(type='submit') Feels


		div.allFeels
				p Feels Container


	div(id="app")


		script(src="/static/bundle.js", type="text/javascript")