html {
	margin: 0;
}

body {
	margin: 0;
	background-color:  #c1def1;
}

h1 {
	color: white;
	text-align: center;
	font-family: Lato;
	font-weight: 400;
	padding-top: 10px;
}

h1:hover {
	color: black;
}


#post {
	border: 1px solid black;
	width: 50%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888888;
	background-color: white;
}


.jentry {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#entry {
	width: 80%;
	height: 50%
}

.hlevel {
	top: 0;
	width: 100%;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}

.btn.btn-primary {
	bottom:   0;
	float: right;
	width: 100%;
	background-color: #C0D890;
	border-radius: 25px;
	margin-top: 10px;
}

p {
	text-align: center;
	font-family: Lato;
}

.header {
	height: 50px;
	border-bottom: 2px solid black;
	background: #2E90CD;
}


.allFeels {
	width: 80%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	position: relative;
	margin-top: 25px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 8px 8px 4px #888888;
	margin-bottom: 50px;

}